<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
  <script type="text/javascript" src="bracketLogic.js"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h1>AFC Bracket</h1>
        <main id="tournament">

          <ul class="round round-1">
            <li class="spacer">&nbsp;</li>
            <li class="game game-top winner">Kansas City
              <span></span>
            </li>
            <li class="game game-spacer">&nbsp;</li>
            <li class="game game-bottom ">Houston
              <span></span>
            </li>
            <li class="spacer">&nbsp;</li>
            <li class="spacer">&nbsp;</li>
            <li class="spacer">&nbsp;</li>
            <li class="spacer">&nbsp;</li>
            <li class="game game-top ">Pittsburgh
              <span></span>
            </li>
            <li class="game game-spacer">&nbsp;</li>
            <li class="game game-bottom winner">Cincinnati
              <span></span>
            </li>
            <li class="spacer">&nbsp;</li>
          </ul>

          <ul class="round round-3">
            <li class="spacer">&nbsp;</li>
            <li class="game game-top winner">
              <span></span>
              <select class="form-control">
                <option value="selection" class="game game-top winner">selection</option>
                <option value="Kansas City" class="game game-top winner">Kansas City</option>
                <option value="Houston" class="game game-top winner">Houston</option>
              </select>
            </li>

            <li class="game game-spacer">&nbsp;</li>
            <li class="game game-bottom ">New England
              <span></span>
            </li>
            <li class="game game-top winner">
              <span></span>
              <select class="form-control">
                <option value="selection" class="game game-top winner">selection</option>
                <option value="Pittsburgh" class="game game-top winner">Pittsburgh</option>
                <option value="Cincinnati" class="game game-top winner">Cincinnati</option>
              </select>
            </li>
            <li class="game game-spacer">&nbsp;</li>
            <li class="game game-bottom winner">Denver
              <span></span>
            </li>
            <li class="spacer">&nbsp;</li>
          </ul>

          <ul class="round round-4">
            <li class="spacer">&nbsp;</li>
            <li class="game game-top winner">
              <span></span>
              <select class="form-control">
                <option value="selection" class="game game-top winner">selection</option>
                <option value="Kansas City" class="game game-top winner">Kansas City</option>
                <option value="Houston" class="game game-top winner">Houston</option>
                <option value="New England" class="game game-top winner">New England</option>
              </select>
            </li>
            <li class="game game-spacer">&nbsp;</li>
            <li class="game game-top winner">
              <span></span>
              <select class="form-control">
                <option value="selection" class="game game-top winner">selection</option>
                <option value="Pittsburgh" class="game game-top winner">Pittsburgh</option>
                <option value="Cincinnati" class="game game-top winner">Cincinnati</option>
                <option value="Denver" class="game game-top winner">Denver</option>
              </select>
            </li>
            <li class="spacer">&nbsp;</li>
          </ul>

          <ul class="round round-5">
            <li class="spacer">&nbsp;</li>
            <li class="game game-top winner">
              <span></span>
              <select class="form-control">
                <option value="selection" class="game game-top winner">selection</option>
                <option value="Kansas City" class="game game-top winner">Kansas City</option>
                <option value="Houston" class="game game-top winner">Houston</option>
                <option value="New England" class="game game-top winner">New England</option>
                <option value="Pittsburgh" class="game game-top winner">Pittsburgh</option>
                <option value="Cincinnati" class="game game-top winner">Cincinnati</option>
                <option value="Denver" class="game game-top winner">Denver</option>
              </select>
            </li>
            <li class="spacer">&nbsp;</li>
          </ul>
      </div>

      <div class="col-md-2">
        <main id="tournament">

          <ul class="round round-6">
            <li class="spacer">&nbsp;</li>
            <li class="spacer">&nbsp;</li>
            <li class="spacer">&nbsp;</li>
            <li class="spacer">&nbsp;</li>
            <li class="spacer">&nbsp;</li>
            <li class="spacer">&nbsp;</li>
            <li class="game game-top winner">
              <span></span>
              <h1>Winner</h1>
              <select class="form-control">
                <option value="selection" class="game game-top winner">selection</option>
                <option value="Green Bay" class="game game-top winner">Green Bay</option>
                <option value="Washington" class="game game-top winner">Washington</option>
                <option value="Arizona" class="game game-top winner">Arizona</option>
                <option value="Seattle" class="game game-top winner">Seattle</option>
                <option value="Minnesota" class="game game-top winner">Minnesota</option>
                <option value="Carolina" class="game game-top winner">Carolina</option>
                <option value="selection" class="game game-top winner">selection</option>
                <option value="Kansas City" class="game game-top winner">Kansas City</option>
                <option value="Houston" class="game game-top winner">Houston</option>
                <option value="New England" class="game game-top winner">New England</option>
                <option value="Pittsburgh" class="game game-top winner">Pittsburgh</option>
                <option value="Cincinnati" class="game game-top winner">Cincinnati</option>
                <option value="Denver" class="game game-top winner">Denver</option>
              </select>
            </li>
            <li class="spacer">&nbsp;</li>
          </ul>
      </div>

      <div class="col-md-5">
        <h1>NFC Bracket</h1>
        <main id="tournament">

          <ul class="round round-5">
            <li class="spacer">&nbsp;</li>
            <li class="game game-top winner">
              <span></span>
              <select class="form-control">
                <option value="selection" class="game game-top winner">selection</option>
                <option value="Green Bay" class="game game-top winner">Green Bay</option>
                <option value="Washington" class="game game-top winner">Washington</option>
                <option value="Arizona" class="game game-top winner">Arizona</option>
                <option value="Seattle" class="game game-top winner">Seattle</option>
                <option value="Minnesota" class="game game-top winner">Minnesota</option>
                <option value="Carolina" class="game game-top winner">Carolina</option>
              </select>
            </li>
            <li class="spacer">&nbsp;</li>
          </ul>

          <ul class="round round-4">
            <li class="spacer">&nbsp;</li>
            <li class="game game-top winner">
              <span></span>
              <select class="form-control">
                <option value="selection" class="game game-top winner">selection</option>
                <option value="Green Bay" class="game game-top winner">Green Bay</option>
                <option value="Washington" class="game game-top winner">Washington</option>
                <option value="Arizona" class="game game-top winner">Arizona</option>
              </select>
            </li>
            <li class="game game-spacer-left">&nbsp;</li>
            <li class="game game-top winner">
              <span></span>
              <select class="form-control">
                <option value="selection" class="game game-top winner">selection</option>
                <option value="Seattle" class="game game-top winner">Seattle</option>
                <option value="Minnesota" class="game game-top winner">Minnesota</option>
                <option value="Carolina" class="game game-top winner">Carolina</option>
              </select>
            </li>
            <li class="spacer">&nbsp;</li>
          </ul>

          <ul class="round round-3">
            <li class="spacer">&nbsp;</li>
            <li class="game game-top winner">
              <span></span>
              <select class="form-control">
                <option value="selection" class="game game-top winner">selection</option>
                <option value="Green Bay" class="game game-top winner">Green Bay</option>
                <option value="Washington" class="game game-top winner">Washington</option>
              </select>
            </li>
            <li class="game game-spacer-left">&nbsp;</li>
            <li class="game game-bottom ">Arizona
              <span></span>
            </li>
            <li class="spacer">&nbsp;</li>
            <li class="game game-top winner">
              <span></span>
              <select class="form-control">
                <option value="selection" class="game game-top winner">selection</option>
                <option value="Seattle" class="game game-top winner">Seattle</option>
                <option value="Minnesota" class="game game-top winner">Minnesota</option>
              </select>
            </li>
            <li class="game game-spacer-left">&nbsp;</li>
            <li class="game game-bottom winner">Carolina
              <span></span>
            </li>
            <li class="spacer">&nbsp;</li>
          </ul>

          <ul class="round round-1">
            <li class="spacer">&nbsp;</li>
            <li class="game game-top winner">Green Bay
              <span></span>
            </li>
            <li class="game game-spacer-left">&nbsp;</li>
            <li class="game game-bottom ">Washington
              <span></span>
            </li>
            <li class="spacer">&nbsp;</li>
            <li class="spacer">&nbsp;</li>
            <li class="spacer">&nbsp;</li>
            <li class="spacer">&nbsp;</li>
            <li class="game game-top ">Seattle
              <span></span>
            </li>
            <li class="game game-spacer-left">&nbsp;</li>
            <li class="game game-bottom winner">Minnesota
              <span></span>
            </li>
            <li class="spacer">&nbsp;</li>
          </ul>


      </div>
    </div>
  </div>

  </main>

  <script src="/bracket.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>

</html>
