<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/gamepicks.css" charset="utf-8">
</head>

<body>

  <h1>Select Your Picks...</h1>


  <section class="weekOne">
    <form class="week1" id="AFCgame1" action="/users/gamepicks" method="post">

      <div class="AFCgame1">
        <input class="cinButton" type="button" name="3. Cincinnati Bengals" value="Cincinnati Bengals">
        <h2>Vs.</h2>
        <input class="pitButton" type="button" name="6. Pittsburgh Steelers" value="Pittsburgh Steelers">
      </div>

      <div class="AFCgame2">
        <input class="houButton" type="button" name="4. Houston Texans" value="Houston Texans">
        <h2>Vs.</h2>
        <input class="kanButton" type="button" name="5. Kansas City Chiefs" value="Kansas City Chiefs">
      </div>

      <div class="NFCgame1">
        <input class="minButton" type="button" name="3. Minnesota Vikings" value="Minnesota Vikings">
        <h2>Vs.</h2>
        <input class="seaButton" type="button" name="6. Seattle Seahawks" value="Seattle Seahawks">
      </div>

      <div class="NFCgame2">
        <input class="wasButton" type="button" name="4. Washington Redskins" value="Washington Redskins">
        <h2>Vs.</h2>
        <input class="gbButton" type="button" name="5. Green Bay Packers" value="Green Bay Packers">
      </div>

      <button id="subWeek1" type="submit" name="button">Submit Week 1 Picks</button>

      <input id="afc_g1" type="hidden" name="afc_g1" value="">
      <input id="afc_g2" type="hidden" name="afc_g2" value="">
      <input id="afc_g3" type="hidden" name="afc_g3" value="">
      <input id="afc_g4" type="hidden" name="afc_g4" value="">
      <input id="afc_g5" type="hidden" name="afc_g5" value="">
      <input id="nfc_g1" type="hidden" name="nfc_g1" value="">
      <input id="nfc_g2" type="hidden" name="nfc_g2" value="">
      <input id="nfc_g3" type="hidden" name="nfc_g3" value="">
      <input id="nfc_g4" type="hidden" name="nfc_g4" value="">
      <input id="nfc_g5" type="hidden" name="nfc_g5" value="">
      <input id="sb" type="hidden" name="sb" value="">

    </form>

  </section>



  <script src="/bracketLogic.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>

</html>
