<h1>{{title}}</h1>

<table id="rankingTable">
  
  <tr id="trHead">
    <td>Player</td>
    <td>Score</td>
  </tr>

{{#each userInfo}}
  <tr>
    <td>{{this.username}}
    </td>
    <td>{{this.score}}
    </td>
  </tr>
    {{/each}}

</table>
