<div class="jumbotron">
  <div class="container">
    <h1>FoCo Galvanize NFL Playoff Challenge</h1>
    <h2 id='signinHeader'>Sign In</h2>
  </div>
</div>

<div class='row'>
  <div class='container'>
    <form class="signinForm" action="/signin" method="post">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" value="" class="form-control">
      </div>
      <div class="form-group">
        <label for="Password">Password</label>
        <input type="text" name="password" value="" class="form-control">
      </div>
      <input type="submit" name="" value="Sign In">
    </form>
  </div>
</div>


<!-- <form class="" action="/signin" method="post">
  <div class="">
    <label for="username">Username</label>
    <input type="text" name="username" value="">
  </div>
  <div class="">
    <label for="Password">Password</label>
    <input type="text" name="password" value="">
  </div>
  <input type="submit" name="" value="Submit">
</form> -->



<!--
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block">Example block-level help text here.</p>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Check me out
    </label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form> -->
