<h1>{{title}}</h1>
<h2>{{message}}</h2>
<form class="" action="/register" method="post">
  <div class="">
    <label for="email">Email</label>
    <input type="text" name="email" value="">
  </div>
  <div class="">
    <label for="Username">Username</label>
    <input type="text" name="username" value="">
  </div>
  <div class="">
    <label for="Password">Password</label>
    <input type="text" name="password" value="">
  </div>
  <div class="">
    <label for="confPassword">Confirm Password</label>
    <input type="text" name="confPassword" value="">
  </div>
  <input type="submit" name="" value="Submit">
</form>
