<h1>{{title}}</h1>
<h2>{{message}}</h2>
<form class="" action="/signin" method="post">
  <div class="">
    <label for="username">Username</label>
    <input type="text" name="username" value="">
  </div>
  <div class="">
    <label for="Password">Password</label>
    <input type="text" name="password" value="">
  </div>
  <input type="submit" name="" value="Submit">
</form>
